[submodule "24001118-synrgy7-ars-bcr-ch5"]
	path = 24001118-synrgy7-ars-bcr-ch5
	url = https://github.com/amiqbal7/24001118-synrgy7-ars-bcr-ch5.git
[submodule "web-backoffice-service"]
	path = web-backoffice-service
	url = https://github.com/amiqbal7/web-backoffice-service.git
